/* Acordeon styles */
.tab {
  position: relative;
  /*margin-bottom: 1px;*/
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.accordion-container {
  width: 100%;
  margin: 0 auto;
}
.accordion-container .tab {
  margin-bottom: 5px;
}
li.accordion input,
.accordion-container input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
li.accordion label {
  background: transparent;
  color: #7b7c7d;
  padding: 0 4px;
}
.accordion-container label {
  background: #2c4594;
  color: #fff; 
  padding: 5px 20px;
  font-family: "Rubik Light" !important;
  letter-spacing: 1px;
}
.accordion-container label h3{
  margin: 0px;
  font-size: 1em;
}
li.accordion label,
.accordion-container label {
  position: relative;
  display: block;
  /*padding: 0 0 0 1em;*/
  /*background: #16a085;*/
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
li.accordion .blue label,
.accordion-container .blue label {
  background: #2980b9;
}
li.accordion .tab-content {
  background-color: #fff;
}
.accordion-container .tab-content {
  background-color: #1f3067;
  line-height: 22px;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 500ms;
  -o-transition: max-height 500ms;
  transition: max-height 500ms;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
li.accordion input:checked ~ .tab-content,
.accordion-container input:checked ~ .tab-content {
  max-height: 100em;
}
/* Icon */
li.accordion label::after,
.accordion-container label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
li.accordion input[type=checkbox] + label::after,
.accordion-container input[type=checkbox] + label::after {
  content: "\f078";
  font-family: FontAwesome;
}
li.accordion input[type=radio] + label::after,
.accordion-container input[type=radio] + label::after {
  content: "\f078";
  font-family: FontAwesome;
}
li.accordion input[type=checkbox]:checked + label::after,
.accordion-container input[type=checkbox]:checked + label::after {
  /*transform: rotate(315deg);*/
  transform: rotate(180deg);
}
li.accordion input[type=radio]:checked + label::after,
.accordion-container input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  /*transform: rotateX(180deg);*/
}
.tab-content li {
  padding-left: 20px;
  border: none;
}