@font-face {
	font-family: "Rubik Light";
	src: url("../fonts/rubik/Rubik-Light.ttf");
}

@font-face {
	font-family: "Rubik Regular";
	src: url("../fonts/rubik/Rubik-Regular.ttf");
}


@font-face {
	font-family: "Rubik Medium";
	src: url("../fonts/rubik/Rubik-Medium.ttf");
}

@font-face {
	font-family: "Rubik Bold";
	src: url("../fonts/rubik/Rubik-Bold.ttf");
}

@font-face {
	font-family: "Rubik Black";
	src: url("../fonts/rubik/Rubik-Black.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Regular.ttf");
}

