
/* ========================== 
	10. update-profile
=============================*/

.profile-block {
	background-color: #fff;
	/*padding: 20px 50px 50px 50px;*/
	padding: 10px;
	/*width: 60%;*/
	width: 100%;
	box-shadow: 1px 1px 1px rgba(142,142,142,0.22);
    border-radius: 2px;
}

.update-profile .profile-block input {
    /*z-index: 2;*/
    /*position: relative;*/
    border: 1px solid #dadada;
}


.update-profile .profile-block label {
    /*opacity: 0;*/
    /*position: absolute;*/
    /*transition: opacity 250ms ease-out;*/
	/*font-size: 0.75em;*/
}

.update-profile .profile-block input:focus + label{
	/*color: #a6a6a6;*/
    /*top: -1.3em;*/
	/*opacity: 1;*/
    /*transition: top 250ms ease-out;*/
}

.update-profile .profile-block input:focus, 
.update-profile .profile-block select:focus,
.full-modal input:focus {
	border: 1px solid #2c4594;
	background-color: #fff;
}

.update-profile .profile-block input + label {
    /*position: absolute;*/
    /*top: -0em;*/
    /*left: 0;*/
    /*color: #777;*/
    /*opacity: 0;*/
}

.profile-block input::-webkit-input-placeholder {
	/*transition: all 250ms ease-in-out;	*/
}

.profile-block input:focus::-webkit-input-placeholder {
	/*color: transparent;*/
}

.profile-block input:invalid:not(:focus):not([value=""]) {
	/*border: 1px solid #f7c2c2;*/
	/*background-color: #fedfdf;*/
}

.input-3,.input-2{
	margin-left: 0;
	margin-right: 0;
}

.input-3{
	flex: 1;
	width: 33%;
	margin-right: 1%;
}
.input-2{
	width: 49%;
	margin-right: 1%;
	flex: 1;
}


.textfield {
  position: relative;
  display: inline-block;
}
.textfield .star{
	color: red;
}

.textfield.input-3 input, .textfield.input-2 input {
	width: 100%;
}

.textfield-select {
	width: 100%;
	height: 47px;
    padding-left: 20px;
    border: 1px solid #dadada;
    color: #999;
}

.textfield.input-3,	.textfield.input-2 {
	margin-bottom: 25px;
}


.textfield > span,
.textfield > label{
	font-size: 1em;
	position: absolute;
	left: 20px; /* padding-left ni input */
	top: calc((47px / 2) - 0.5em); /* 47px (height of input) divide by 2 then minus 0.5em (half ng font-size ng label) */
	transition: all 250ms ease;
	color: #777;
	pointer-events: none;
}
.textfield > input:focus + span,
.textfield.has-value > input + span,
.textfield > input:focus + label,
.textfield.has-value > input + label{
	left: 0;
	top: calc(-0.75em - 10px); /* minus tayo nung 0.75em (sariling font-size) then plus 10px (kung ilan gusto mong margin) */
	font-size: 0.75em;
}


.textfield.invalid > input{
	border-color: #f7c2c2;
  background: #fedfdf;
  /*rgba(255,10,10,0.6);*/
}

/*global*/
input[disabled],
select[disabled]{
    background-color: #f1f1f1;
}

.profile-block-container, .profile-widget {
	padding: 10px;
}

.widget {
	width: 100%;
	/*min-width: 218px;*/
	min-height: 95px;
	background-color: #405499;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 1.25vmin;
	display: flex;
}

.widget span {
	display: block;
	color: #fff;
}

.widget span.count {
	font-size: 3em;
	font-family: "Rubik Light";
}
.widget > .col-4{
	margin-right: 0.5em;
	width: auto;
}
.widget > .col{
	align-self: center;
}

.widget span:nth-child(2) {
	text-transform: uppercase;
	font-size: 0.8em;
}

.text-danger {
	color: #eb7778;
}

.disable input {
}

.update-profile select[disabled] {
	background-color: #EBEBE4;
}

.btn-update.edit {
	background-color: #405499 !important;
	color: #fff !important;
}

.save {
	background-color: #a1ce61 !important;
	color: #fff !important;
}

.registration .textfield.input-3, .registration .textfield.input-2 {
    margin-bottom: 15px;
}


@media (max-width: 767px){
	.textfield.input-3,
	.textfield.input-2{
	    flex-basis: 100%;
		width: 100%;
	}
	.profile-widget > .row{
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px){
	.input-3,.input-2{
		margin-right: 1%;
		margin-left: 0;
	}
	
	.textfield.input-2{
		width: 49%;
	}
}
@media (min-width: 992px){
	.input-3,.input-2{
		margin-left: 0 !important;
		margin-right: 1% !important;
	}
	.textfield.input-3{
		width: 33%;
	}
}