/*
*
* TOC
* 1. import fonts
* 2. base style
* 3. color brand
* 4. section
* 5. global
* 6. media
* 7. card style
* 8. modal
* 9. main
* 10. update profile
* 11. send money and pay bills
* 12. input money
* 13. transaction complete
* 14. edit details
* 15. notification
* 16. transaction history
* 17. mobile topup
* 18. view receipt
* 19. credit card
* 20. tc
* 21. notif
* . footer
* . media query
*
 */

/* ========================== 
	1. import fonts 
=============================*/
@import url("fonts.css");


/* ========================== 
	2. base style 
=============================*/
* { 
	box-sizing: border-box; 
	outline: none;
}

html, body {
	font-size: 14px;
	font-family: "Rubik Regular";
	color: #414141;
}


/* ========================== 
	3. color brand 
=============================*/
.blue-bg { 
	background-color: #2c4594;
	color: #fff;
}

.white-bg { 
	background-color: #fff;
	color: #414141;
}

.gray-bg { 
	background-color: #d9d9d9;
}

.text-gray { color: #a6a6a6; }
.text-gray-1 { color: #505050; }
.text-black { color: #414141; }
.text-black-1 { color: #414141; }
.text-blue { color: #2c4594; }
.text-green { color : #a1ce61; }
.text-red { color: #cf343c; }

/* ========================== 
	4. section container
=============================*/
section.main-container {
    width: 100%;
    height: 100%;
    height: 100vh;
    /*min-height: 100vh;*/
	display: table;
    position: relative;
}
section.main-container .content {
    display: table-cell;
    vertical-align: middle;
}


/* ========================== 
	5. global
=============================*/
#fn_engage {
	display: none;
}
.row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}

.col {
	float: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	width: 100%;
}


.text-center { text-align: center; }
.clickable { cursor: pointer; }

.text-header {
	font-size: 18px;
	font-family: "Rubik Medium";
	color: #3b3b3b;
}

.bold {	font-weight: bold; }
.uppercase { text-transform: uppercase; }
.hide {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.p10 {
    padding: 5px 5px;
}

.m5 {
	margin-bottom: 5px;
}

.p-margin {
	margin-bottom: 1em;
}

.np-tb10 {
	padding: 10px 0;		
}

.f-right {
	float: right;
}

.page-title {
    font-size: 1.3em;
}

a {
	text-decoration: none;
}

.dash{
  border: 0 none;
  border-top: 1.5px dashed #e5e5e5;
  background: none;
  height:0;
  margin: 25px 0 20px 0;
} 

.line{
	border-top: 1.5px  #e5e5e5;
	margin: 20px 0;
} 

.big-text {
	font-size: 2em;
	font-family: "Rubik Light" !important;
}

/* ========================== 
	6. media
=============================*/
.img-center {
	margin-right: auto;
    margin-left: auto;
    display: block;
}

.full.card .img-center {
    width: 100%;
}


/* ========================== 
	7. card style
=============================*/
.card .logo {
	position: relative;
	z-index: 1;
}

.content .card:not(.full), .full.card .card-side-content {
	padding: 30px;
}

.content .card {
	background-color: #fff;
	/*width: 450px;
	height: 465px;*/
	width: 100%;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 10px 15px 2px rgba(31, 45, 89,0.4);
}

.card .card-content {
	margin-top: 30px;
}

.content .card .form input.input,
.form input.input,
.full-modal .input{
	/*width: 100%;*/
	height: 47px;
	padding-left: 20px;
	/*margin-bottom: 13px;*/
	margin-bottom: 33px;
	color: #414141;
	border: 1px solid rgba(96,97,99,0.5);
	outline: none;
	border-radius: 2px;
	transition: all .2s ease-in-out;
}

.registration .textfield.input-2,
.registration .textfield.input-3 {
	border: 1px solid rgba(96,97,99,0.5);
	border-radius: 2px;
	margin-bottom: 33px;
}

.registration .textfield.input-2 {
	width: 100%;

}

.form.profile-update input {
	margin-bottom: 0;
	border-radius: 2px;	
}

.content .card .form input.input:not(.grid) {
    width: 100%;
}

.content .card .form input.input:focus {
	border: 1.1px solid rgba(44,69,148,1);
	box-shadow: 0px 1px 1px 2px rgba(44,69,148, 0.2);
}

.form label {
	color: #606163;
}
.login .form span {
	float: right;
	cursor: pointer;
}

.form label, .form span {
	/*font-size: 13px;*/
	font-size: 1em;
}

.full.card {
	position: relative;
	overflow: hidden;
}

.full.card > div {
	float: left;
}

.full.card:after, .row::after, .f-right-parent > p::after,
.update-profile .row-input::after {
    display: block;
    clear: both;
    content: "";
}

.full.card .card-side-image {
	background-image: url(../assets/images/registration-image.JPG);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.full.card .card-side-image::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(56,87,186,0.3);
	top: 0;
}

.full.card .card-side-info {
	width: 100%;
	background-color: #fff;
    z-index: 2;
    position: relative;
    transition: all .2s ease-in-out;
}

.row-input {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.registration span.remarks {
    position: absolute;
    left: 0;
    top: 57px;
}

span.remarks {
    top: -15px;
    position: relative;
}


.content .full.card .form input.input-3,
.textfield.input-3 {
    width: 100%;
	height: 47px;
}

.textfield.input-3 {
    width: 100%;
    float: left;
}

.content .full.card .form input.input-2 {
    width: 100%;
	height: 47px;
}

.registration .row-input > a{
	flex: 1;
}
.registration .btn, .forgot-password .btn,
.change-pin .btn {
	width: 100%;
	/*margin-top: 20px;*/
}

.registration .textfield-select {
	width: 100%;
	height: 47px;
    padding-left: 20px;
    border: none;
    border: 1px solid #dadada;
    color: #999;
}


.customer-registration button:first-child,
.forgot-password button:first-child,
.change-pin  button:first-child:not(.btn-update) {
	margin-top: 20px;
}

button {
	cursor: pointer;
}

button.btn {
    height: 50px;
    border: none;
	color: #fff;
	padding: 0;
	border-radius: 2px;
	transition: all .2s ease-in-out;
}

.form-button {
	position: relative;
	width: 100%;
}

.login .form-button {
	margin-top: 75px;
}

.registration .form-button {
	margin: 50px 0;
}

.card-footer {
    background-color: #e1e1e1;
    padding: 5px 30px;
    /*font-size: 13px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
	font-size: 1.1em;
}

.btn-green {
	background-color: #a1ce61;
	margin-right: 20px;
	margin-bottom: 20px;
}

.btn-blue {
	background-color: #2c4594;
}

.btn-gray {
	background-color: #b2b2b2;
	color: #fff;
}

.btn.text-green {
	color: #a1ce61;
}

.btn.text-black-1 {
	color: #3b3b3b;
}

button.btn-green:hover {
	background-color: #95bf5a;
}

button.btn-blue:hover {
	background-color: #273e86;
}

button.btn-gray:hover {
	background-color: #a5a5a5;
}

[data-rel="verify_code"] form.form {
    margin-bottom: 50px;
}


/* ========================== 
	8. modal
=============================*/
section.main-container .content {
    display: table-cell;
    vertical-align: middle;
}

.modal-message {
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgba(0,0,0,0.90);
    height: 100%;
    width: 100%;
    min-height: 100vh;
	display: table;
	z-index: -1;
}

.modal-message {
	z-index: 10;
}

.modal-message.active .modal-card {
	visibility: visible;
	transition: all 250ms ease 250ms;
	transform: scale(1);
	z-index: 10;
}

.modal-card {
	/*background-color: #fff;*/
	display: table-cell;
    vertical-align: middle;
	transform: scale(0.6);
	visibility: hidden;
	z-index: -1;
}

.modal-card-content {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 2px;
}

.modal-header p{
	font-family: "Rubik Medium";
	text-align: center;
	/*font-size: 33px;*/
	font-size: 2.4em;
	margin: 10px 0;
}

.sub-modal-header p{
	font-family: "Rubik Medium";
	text-align: center;
	/*font-size: 33px;*/
	font-size: 1.1em;
	margin: 10px 0;
}

.full-modal .sub-modal-header p {
	text-align: left;
}

.modal-description {
	/*font-size: 14px;*/
}

.full-modal {
    background-color: #F5F5F5;
    padding: 20px;
}

.full-modal .modal-card-content {
	background: transparent;
}

.full-modal .search-input {
	width: 100%;
}

.full-modal .btn-search {
	width: 100%;
	margin-bottom: 10px;
}



/* ========================== 
	9. main
=============================*/
.main .row {
	width: 100%;
}

.nav-bar{
	display: flex;
  	justify-content: space-between;
	height: 70px;
	box-shadow: 1px 1px 1px rgba(142,142,142,0.22);
	margin-bottom: 10px;
}

.main .nav-bar{
	margin-bottom: 50px;
}

/*.send-money .sub-header {
	display: flex;
  	justify-content: space-between;
	height: 70px;
	box-shadow: 1px 1px 1px rgba(142,142,142,0.22);
	margin-bottom: 10px;
}

.send-money .sub-header > div:nth-child(1){
	flex: 5;
	margin-left: 
}

.send-money .sub-header > div:nth-child(2){
	flex: 2;
	text-align: center;
}
*/
.nav-section > img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.nav-bar > div:nth-child(1){
	flex: 1;
	text-align: center;
}
.nav-bar > div:nth-child(2){
	flex: 5;
	text-align: center;
}
.nav-bar > div:nth-child(3){
	flex: 1;
	text-align: center;
}

.user-info-text, .text-current-balance {
	/*font-size: 13px;*/
	font-size: 0.9em;
}

.user-contact {
	padding: 0 15px;
	/*width: 200px;*/
	/*width: 75%;*/
}

.main .user-contact {
	/*width: 75%;*/
	width: 200px;
}

.beneficiary.send-money .user-contact,
.pay-bills .user-contact{
	width: 150px;
}

.send-money .user-contact {
	width: 150px;
	/*width: 200px;*/
}

img.profile-picture {
    vertical-align: bottom;
    position: relative;
    margin-right: 10px;
}

.send-money .user-name,
.pay-bills .user-name {
	font-size: 1em;
}

.beneficiary.send-money .user-name {
	font-size: 0.9em;
}

.user-name {
	/*font-size: 18px;*/
	font-size: 1.3em;
	margin: 10px 0;
	color: #606163;
}

.col.col-3.user-profile-picture {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.col.col-3.user-profile-picture > img {
    position: relative;
    right: 0;
    /*width: 70px;
    height: 70px; */
    width: 80px;
    height: 80px;
}

.header-container {
	padding: 10px;
	height: 100px;
    border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(142,142,142,0.22);
}

.text-current-balance {
	margin: 10px 5px 5px 5px;
}

.current-balance {
	/*font-size: 35px;*/
	font-size: 2.5em;
	margin: 0;
}

.refresh-icon {
	float: right;
    margin: 5px 20px;
}

.menu-button {
	background-color: #2c4594;
	height: 169px;
	color: #fff;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.menu-button:hover {
	background-color: #a1ce61;
}

.menu-button > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.user-current-balance > div:nth-child(1) {
    width: 70%;
}

.user-current-balance > div:nth-child(2) {
    width: 30%;
}

.main-button-menu {
	width: 50%;
}

.menu {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.menu.fadeOut {
    z-index: -1;
}

.menu > .menu-content {
    background-color: #fff;
	height: 100vh;
	/*width: 340px;*/
	width: 100%;
    /*overflow: hidden; */
    overflow: auto; 
    padding: 20px;
    box-shadow: 3px 0px 7px rgba(0,0,0,0.2);
}

li.f-right-parent > p {
    font-size: 1.2em;
}

li.f-right-parent {
    border: none !important;
}

.menu ul {
	padding: 0;
}

.menu li {
	list-style: none;
	color: #7b7c7d;
	border-top: 1px solid #e7e7e7;
	transition: all .2s ease-in-out;
	padding: 10px 4px;
	cursor: pointer;
}

.menu li.accordion {
	padding: 0;
}

.menu li a {
	color: #7b7c7d;
	
}

.menu li:not(.f-right-parent):hover {
	background-color: #f4f4f4;
}

.menu li:last-child {
	border-bottom: 1px solid #e7e7e7;
}

.menu li.accordion li {
	border: none;
}

.menu li p {
	margin: 0;
}

.menu-icon {
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
}

.close-icon {
    margin-top: -5px;
}

/*img.icon-notif {
    position: absolute;
    left: 50px;
    margin-top: -4px;
}
*/

img.icon-notif {
    position: absolute;
    left: 19px;
    margin-top: 0;
}
.fa-icon {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.text-setting {
	font-size: 0.9em;
}

.dropdown-container {
	margin-top: 21px;
}

.label {
	font-size: 0.9em;
	margin-bottom: 10px;
}

.text-notif { 
	color: #7b7c7d; 
	font-family: "Rubik Medium";
}

.settings li{
	padding: 15px 0 15px 15px;
}

.settings .fa-icon {
	margin-top: 0;
}


.flex{
	display: flex;
}
.justify-space-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}

/** checkbox */
.checkbox{
	cursor: pointer;
}
.checkbox > input{
	display: none;
}
.checkbox > span{
	background-color: #dedede;
	width: 3.5em;
	height: 1.75em;
	border-radius: 1.75em;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.checkbox > span::before{
	content: '';
	height: 1.5em;
	width: 1.5em;
	top: 0.15em;
	left: 0.15em;
	border-radius: 50%;
	background-color: #fefefe;
	position: absolute;
	box-shadow: 0 0 2px #dedede;
	transition: transform 250ms ease;
}
.checkbox > [type=checkbox]:checked + span{
	background-color: #A2CD61;
}
.checkbox > [type=checkbox]:checked + span::before{
	transform: translateX(1.65em);
	transition: transform 250ms ease;
}


.select{
	position: relative;
	font: normal normal normal 14px/1 FontAwesome;
	color: #414141;
}
.select > select{
	color: #414141;
	width: 100%;
	font-size: 1em;
	border-radius: 2px;
	border: 1px solid #dedede !important;
	padding: 1em;
	/*height: 32px;*/
	position: relative;
	font-family: "Rubik Medium";
}
.select::after{
	/*content: "\f078";*/
	width: 1.25em;
	height: 1em;
	right: 0.5em;
	top: 0;
	position: absolute;
	background-color: #fff;
}

.menu{
	z-index: -1;
	transition: z-index 0ms ease 250ms;
}

.menu.active{
	z-index: 10;
	transition: z-index 0ms ease 0ms;
}

.menu > .overlay{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
	visibility: hidden;
}
.menu > .menu-content{
	/*box-shadow: none;*/
	transform: translateX(-600px);
	transition: transform 250ms ease-out;
}
.menu.active > .overlay{
	visibility: visible;
}
.menu.active > .menu-content{
	transform: translateX(0);
	transition: transform 250ms ease-out;
}

.hidden{
	visibility: hidden;
}
.menu-right > .menu-content{
	position: absolute;
	right: 0 !important;
}

.menu-right > .menu-content{
	transform: translateX(600px);
	transition: transform 250ms ease-out;
}



/* extracted from 10. */
.sub-header {
	background-color: #f1f1f1;
	padding: 10px;
	margin-bottom: 20px;
}

.sub-header-container {
	width: 90%;
	position: relative;
}

.sub-header-container p {
	font-family: "Rubik Medium";
	text-align: center;
}


.search-box {
    /* display: none; */
    position: absolute;
    right: 0;
    bottom: -70px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    width: 100%;
}

.search-box{
	z-index: -1;
	visibility: hidden;
	opacity: 0;
/*	transform: scale(0.6);*/
	transform: translateY(-40px);
	transition: all 300ms ease-in-out;
}

.search-box.active{
	z-index: 10;
	visibility: visible;
	opacity: 1;
	/*transform: scale(1);*/
	transform: translateY(0px);
}

button.uppercase.btn-update {
    border: none;
    padding: 1em;
    color: #919191;
    background-color: #fff;
    font-size: 0.9em;
    font-family: "Rubik Regular";
    font-weight: bold;
    width: 100%;
    border-radius: 2px;
}

button.uppercase.btn-add {
	color: #fff;
    background-color: #919191;
    border: none;
    padding: 1em;
    font-size: 0.9em;
    font-family: "Rubik Regular";
    font-weight: bold;
    width: 100%;
    border-radius: 2px;
}



.container-1{
  /*width: 300px;*/
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
  left: 0;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
  .container-1 input#search{
  /*width: 300px;*/
  width: 100%;
  height: 35px;
  /*background: #2b303b;*/
  background-color: #f1f1f1;
  border: none;	
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

/* extracted from 10. ( profile / avatar ) */

.upload-picture {
    margin-bottom: 20px;
    position: relative;
}

.upload-image::before {
   content: "";
   height: 100%;
   width: 100%;
   position: absolute;
   background-image: url(../assets/images/upload-icon.PNG);
   top: 0;
   /*top: 1px;*/
    /*left: 1px;*/
   /*left: 50%;*/
   /*transform: translateX(-50%);*/
   opacity: 0;
   z-index: 3;
   -webkit-transition: opacity 200ms ease-in-out;
   -o-transition: opacity 200ms ease-in-out;
   transition: opacity 200ms ease-in-out;
   background-position: center center;
   background-repeat: no-repeat;

}

.input-amount .upload-image::after,
.input-amount .upload-image::before {
    border-radius: 50px;
}

.input-amount .SumoSelect>.CaptionCont,
.input-amount select {
	border: none;
	outline: none;
}

.input-amount .SumoSelect.open>.CaptionCont,
.input-amount .SumoSelect:focus>.CaptionCont,
.input-amount .SumoSelect:hover>.CaptionCont {
    box-shadow: none;
    border-color: none;
}

.upload-image::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    /*1px;*/
    /*left: 1px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.input-amount .upload-image img {
	width: 	100%;
	height: 	100%;
    border-radius: 50px;
    border: 2px solid #fff;
    display: block; /* para maalis yung invisible margin */
    box-shadow: 0px 2px 2px 1px #6b6b6b1c;
}

.full-modal:not([data-rel="modal-add"]) .upload-image {
    width: 100px;
    height: 100px;
}

.upload-image {
    width: 90px;
    height: 90px;
    /*left: 50%;*/
    position: relative;
    /*transform: translateX(-50%);*/
    cursor: pointer;
    margin: 0 auto;
    z-index: 2;
}

.upload-icon {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*opacity: 0;*/
    /*z-index: 10;*/
    cursor: pointer;
    /*background-image: url(../assets/images/upload-icon.PNG);*/
}

/*.upload-icon::before {
    content: "";
    height: 88px;
    width: 88px;
    position: absolute;
    background-image: url(../assets/images/upload-icon.png);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    background-repeat: no-repeat;
}*/

.upload-image:hover::after, .upload-image:hover::before, .upload-image.hover::before, .upload-image.hover::after {
	opacity: 1;	
}


/* ========================== 
	11. send money and pay bills
=============================*/

.w-sub-header .nav-bar {
	margin: 0;
}

.send-money .user-personal-info,
.pay-bills .user-personal-info {
	position: relative;
}

.payment-type {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 15px;
    display: block;
}

.flag-icon {
    position: absolute;
    right: -1px;
    top: 9px;
}

.sub-header-button {
    text-align: right;
}

.send-money .header-container:hover,
.pay-bills .header-container:hover {
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0 ,0.2);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.user-delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.user-delete button {
    border: none;
    background-color: #cf343c;
    padding: 5px;
    color: #fff;
}


/* ========================== 
	12. input money
=============================*/
.input-amount .main-container,
.trans-complete .main-container,
.change-pin .main-container, .w-sub-header .main-container {
	height: 100%;
}

.input-amount .content .card,
.w-sub-header .content .card {
	box-shadow: none;
	border-radius: 2px;
}

.input-amount .content .card {
	padding: 0;
}

.input-amount .card-header {
    padding: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.input-amount .card-header p:not(.CaptionCont){
	margin: 0;
	margin-bottom: 10px;
}

.input-amount .card-header input {
	width: 100%;
	padding: 5px;
	font-size: 2em;
	text-align: center;
	color: #2c4594;
	font-family: "Rubik Regular";
    border-radius: 2px;
    border: none;
}

.input-amount .card .card-content {
	margin-top: 20px;
}

.input-amount .sub-modal-header p {
	margin: 3px;
}

.input-amount .modal-card-content {
	padding: 0;
}

.input-amount .sub-modal-header {
	padding: 30px 30px 0 30px;
}

.input-amount .full-modal .sub-modal-header {
	padding: 20px;
}

.input-amount .modal-description {
	padding: 0 30px;
}

.input-amount .modal-button .row {
	margin: 0;
	width: 100%;
}

.input-amount .modal-button button{
	width: 50%;
	border-radius: 2px;
	background-color: #F5F5F5;
}

.input-amount .modal-button button:first-child {
    border-right: 1px solid #eee;	
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.modal-button.w-buttons {
    border-top: 1px solid #eee;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.send-money-details table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}

.send-money-details table tr td{
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 20px;
}

.send-money-details.modal-description {
	margin: 30px 0;
}

.send-money-details.modal-description table tr td,
.trans-complete table tr td{
	padding: 8px 2px;
}

.send-money-details table tr td:first-child:not(.w-button){
	text-align: left;
	color: #a6a6a6;
}

.send-money-details table tr td:last-child:not(.w-button){
	text-align: right;
	font-family: "Rubik Medium";
}

.trans-complete table tr:last-child:not(.w-button) td{
	border-bottom: none;
}

.send-money-details table button{
	width: 100%;
}

td.w-button {
    width: 50%;
}

.send-money-details .btn-green {
	margin: 0;
}

.w-buttons {
	background-color: #F5F5F5;
}

.w-buttons td{
	border: none;
}

table {
    text-transform: capitalize;
}

td.w-button button {
    height: 44px;
    margin: 12px 0;
    font-size: 14px;
}

.source {
    text-transform: none;
}

.input-amount .source select {
	border: none;
   font-family: "Rubik Medium" !important;
}

.input-amount .source select option {
	padding: 10px;
}

/* ========================== 
	13. transaction complete
=============================*/
.trans-complete .content .card, .change-pin .content .card {
	box-shadow: none;
	border-radius: 2px;
}

.trans-complete .card-header p, .change-pin .card-header p {
	font-size: 1.4em;
	margin-bottom: 5px;
}

.trans-complete .view-receipt {
	margin: 30px 0 15px 0;
	font-weight: bold;
}

/* ========================== 
	14. edit details
=============================*/
.full-modal input {
    background-color: #f1f1f1;
    z-index: 2;
    position: relative;
    border: 1px solid #dadada;
    color: #2c4594;
}

.full-modal .input-2 {
    width: 100% !important;
}

.full-modal input:focus, 
.full-modal select:focus,
.registration input:focus, 
.registration select:focus {
	border: 1px solid #2c4594;
	background-color: #fff;
}

.registration input,
.registration select {
	border-radius: 2px;
    border: 1px solid rgba(96,97,99,0.5);

}

.full-modal .input {
    height: 38px;
    margin-bottom: 10px;
}

.full-modal.modal-message {
	display: block;
	overflow: auto;
}

.btn-save-details {
	width: 200px;
	padding: 10px;
	border-radius: 2px;
}

.select-style {
    border: 1px solid rgba(96,97,99,0.5);
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    background: #f1f1f1 url("../assets/images/icon-right.png") no-repeat 98% 50%;
    background-size: 15px;
    margin-bottom: 13px;
}

.select-style select, select.input {
    color: rgba(96,97,99,0.9);
    padding: 10px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    padding-left: 20px;
}

.select-style select:focus {
    outline: none;
}

.select-style.input.input-2 {
	padding-left: 0;
}


/* ========================== 
	15. notification
=============================*/
.notification-container {
	width: 250px;
	padding: 15px 15px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 2px;
	font-size: 0.9em;
	visibility: hidden;
	transition: all 200ms ease 200ms;
	opacity: 0;
	transform: translateY(-0);
}

.notification-container.active {
	visibility: visible;
	opacity: 1;
	transform: translateY(-10px);

}

.notification-container p{
	margin: 0;
}

span.no-account-text {
	font-size: 0.9em;
	text-align: center;
	display: block;
	color: #505050;
	width: 300px;
	margin: 0 auto;
}

h4.no-account-text {
	text-align: center;
	color: #505050;
	margin-bottom: 10px;
}

/* ========================== 
	16. transaction history
=============================*/
.table-container {
    overflow-x: auto;
}

.transaction-history .pagination {
	position: relative;
	right: 0;
	margin-top: 20px;
}

.pagination-container {
	width: 85%;
	position: relative;
	margin: 0 auto;
}

.pagination div div {
    float: right;
}

.transaction-history .pagination a{
	background-color: #fbfbfb;
	padding: 5px 10px;
	color: #969696;
	font-size: 0.9em;
	border-radius: 2px;
}

.transaction-history .pagination a.pagination-active{
	color: #ffffff;
	background-color: #2c4594; 
}

.transaction-history .status {
	text-transform: uppercase;
	font-weight: bold;
}

.transaction-history .completed {
	color: #a1ce61;
}

.transaction-history .pending {
	color: #2c4594;
}

.transaction-history .canceled {
	color: #eb7778;
}

.transaction-history table {
    width: 85%;
    text-align: left;
    border-spacing: 0 !important;
    font-size: 0.98em;
    margin: 0 auto;
}

.transaction-history table thead {
	background-color: #f1f1f1;
	text-transform: uppercase;
}

.transaction-history table th,
.transaction-history table td {
	padding: 20px;
}

.transaction-history table td span{
	display: block;
}

.transaction-history table td span:nth-child(2){
	color: #A7A7A7;
	margin-top: 5px;
	font-size: 0.9em;
}

.transaction-history table tbody tr:nth-child(odd) {
	background-color: #fafafa;
}

.transaction-history table tbody tr:nth-child(even) {
	background-color: #ffffff;
}


/* ========================== 
	17. mobile topup
=============================*/
td img.carrier-logo {
    width: 40px;
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
}

.mobile-topup .full-modal .row {
	width: 100%;
}

.card-header .small-select {
	margin-top: 30px;
}

.card-header .small-select > div{
	text-align: left;
}

.small-select p.CaptionCont.SelectBox {
	background-color: #2e3c79 !important;
}

p.CaptionCont.SelectBox {
	font-size: 12px;	
}

p.CaptionCont.SelectBox .placeholder {
	font-style: normal !important;
}

.card-header .options li {
	color: #3b3b3b;
}

.message-error {
	width: 300px;
	margin: 0 auto;
	padding-bottom: 20px; 
}


/* ========================== 
	18. view receipt
=============================*/
.view-receipt td {
	border: none !important;
}

.view-receipt .card {
    padding-bottom: 0 !important;
}

#d-wrapper	.zig-zag-bottom{
	margin-top: 0;
	background: #fff;
    width: 100%;
    margin: 0 auto;
}

#d-wrapper	.zig-zag-bottom {
	padding: 0 0;
}

#d-wrapper	.zig-zag-bottom:after{
	background: 
	linear-gradient(-45deg, transparent 16px, #fff 0), 
	linear-gradient(45deg, transparent 16px, #fff  0);
    background-repeat: repeat-x;
	background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;

	width: 100%;
	height: 20px;

    position: relative;
	top:14px;
	left:0px;
}


/* ========================== 
	19. credit card
=============================*/
.theme1.credit-card {
	background-image: linear-gradient(17deg, #2c4594 0%,#2c4594 12%,#4666c8 37%,#5572cd 51%,#5572cd 64%,#5572cd 83%,#748bd6 100%);
}

.theme2.credit-card {
	background-image: linear-gradient(50deg, #a9fe31,#a8f639,#bcdc8e);
	color: #2c4594;
}
.theme3.credit-card {
	background-color: #2c4594;
}
.theme4.credit-card {
	background: linear-gradient(45deg,#a9fe31 0%,#bcdc8e 50%,#a8f639 100%); 
	color: #2c4594;
}
.theme5.credit-card {
	background: linear-gradient(45deg,#2c4594 0%,#528ec4 50%,#01578a 100%);   
	color: #fff;
}
.theme6.credit-card {
	background: linear-gradient(45deg,#a9fe31 0%,#528ec4 50%,#01578a 100%);   
	color: #fff;
}
.credit-card {
	/*background-color: #2c4594;*/
	 /*background-image: linear-gradient(17deg, #2c4594 0%,#2c4594 12%,#207cca 37%,#2989d8 51%,#2989d8 64%,#2989d8 83%,#7db9e8 100%);*/
	color: #fff;
	height: 225px;
	width: 100%;
	border-radius: 2px;
	padding: 20px;
	position: relative;
}

.credit-card.theme3::after {
    content: '';
    background-color: #ffffff4f;
    position: absolute;
    height: 350px;
    width: 530px;
    border-radius: 100%;
    top: 60%;
    opacity: 0.3;
}

.credit-card.theme3::before {
    content: '';
    background-color: #ffffff4f;
    position: absolute;
    height: 350px;
    width: 460px;
    border-radius: 100%;
    bottom: 10%;
    opacity: 0.3;
}

.credit-card.theme4::before,
.credit-card.theme5::before,
.credit-card.theme6::before  {
	content: '';
    background-image: url(../assets/images/world.png);
    position: absolute;
    background-size: contain;
    background-position: 40% 50%;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.credit-card > * {
	position: relative;
	z-index: 2;
}

.credit-card img {
	/*width: 200px;*/
}

.account-number {
	width: 100%;
	text-align: center;
}

.account-number span {
	/*font-size: 2em;*/
	font-size: 1.4em;
	letter-spacing: 5px;
}

.credit-card-details {
    border: 0;
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;
    left: 0;
    padding: 20px;
}

.card-validity span {
	display: block;
}

.card-validity span.validity-date{
	font-size: 1.3em;
}

.card-validity span.validity-text{
	font-size: 0.8em;
	text-transform: uppercase;
}

.credit-card .flex > div:nth-child(1){
	flex: 5;
}

.credit-card .flex > div:nth-child(2){
	flex: 1;
}

.card-acceptable, .card-validity span.validity-text {
	margin-top: 5px;
	margin-bottom: 5px;
}

.upload-picture .credit-card {
	background-color: #a6a6a6;
	width: 94%;
    margin: 0 auto;
	background-image: url(../assets/images/upload-icon-big.PNG);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20%;
}

.bx-wrapper {
    border: none !important; 
    background: transparent !important; 
}

/* ========================== 
	20. tc
=============================*/
.tc-container {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 2px;
}

.tc-container p,
.tc-container li{
	line-height: 20px;
	font-size: 0.95em;
}

.tc-container h3,
.tc-container h2,
.tc-container h1 {
	margin-top: 30px;
	color: #1f3067;
}

.tc-container a {
	color: #2c4594;
	font-weight: bold;
}

.tc-container a:hover {
	color: #a1ce61;
}

/* ========================== 
	21. notif and list search
=============================*/
.notif-container,
.result-container {
	width: 100%;
	margin: 0 auto;
	border-radius: 2px;
	padding: 10px;
	/*background-color: #fff;*/
}

.result-container {
	padding: 0;
}

.notif-item,
.result-item {
	padding: 10px 20px;
	cursor: pointer;
}

.notif-item:not(:last-child),
.result-item:not(:last-child) {
	border-bottom: 1px solid #e7e7e7;
}

.notif-item:nth-child(odd),
.result-item:nth-child(odd) {
	background-color: #fafafa;
}

.notif-item:nth-child(even),
.result-item:nth-child(even) {
	background-color: #ffffff;
}

.notif-item img,
.result-item img {
	border-radius: 100px;
	width: 30px;
	height: 30px;
	/*width: 50px;
	height: 50px;*/
}

.notif-item > div:nth-child(2) > div> span:nth-child(1),
.result-item > div:nth-child(2) > div> span:nth-child(1) {
	font-weight: bold;
	font-size: 1.2em;
}

.notif-item > div:nth-child(2) > div> span:nth-child(2),
.result-item > div:nth-child(2) > div> span:nth-child(2) {
	font-size: 0.9em;
	color: #a6a6a6;
	display: block;
	text-align: left;
}

.notif-item > div:nth-child(2) > div,
.result-item > div:nth-child(2) > div {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.notif-item > div:nth-child(1),
.result-item > div:nth-child(1){
	flex: 1;
    margin-right: 15px;
}
.notif-item > div:nth-child(2),
.result-item > div:nth-child(2){
	position: relative;
	flex: 10;
}
.notif-item > div:nth-child(3),
.result-item > div:nth-child(3){
	flex: 1;
	text-align: right;
	position: relative;
}

.notif-item > div:nth-child(3) i,
.result-item > div:nth-child(3) i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
}


.sendtext {
	margin-top: 1em;
}

.sendtext p{
	font-size: 1.2em;
}


#direct-deposit input {
    height: 50px;
    padding-left: 20px;
    margin-bottom: 33px;
    color: #414141;
    border: 1px solid rgba(96,97,99,0.5);
    outline: none;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.load-account:not(.w-sub-header) {
	margin: 20px 0;
}

.load-account tr td:first-child{
	font-size: 0.8em;
}


.load-account td{
	padding: 20px !important;
}

.load-account.send-money-details {
    /*width: 50%;*/
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
}

.load-account th {
	padding: 10px 5px;
	/*text-align: center;*/
	background-color: #f8f8f8;
	/*width: 100%;*/
}

.load-account tr:last-child {
	border: none;
}

.load-account thead span {
    position: relative;
    top: -5px;
}

/* ========================== 
	. footer
=============================*/
footer {
	padding: 10px;
	font-family: Roboto;
    margin-top: 30px;
}

footer p {
	/*font-size: 11px;*/
	font-size: 0.8em;
	text-align: center;
	color: #bac4e3;
}
/*
.menu .right {
	right: 0;
	position: absolute;
}*/

/* ========================== 
	. media query
=============================*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

	.tc-container {
		width: 55%;
		padding: 20px 30px;
	}

	.notif-container,
	.accordion-container {
	  width: 80%;
	  margin: 0 auto;
	}

	.result-container {
		width: 100%;
	}

	.content .card, #d-wrapper .zig-zag-bottom {
		width: 450px;
	}

	.full.card .card-side-image, .full.card .card-side-image::after {
	    width: 25%;
	}

	.content .full.card .form input.input-2, .full-modal .input-2 {
	    /*width: 48.80% !important;*/
	    width: 100% !important;
	}

	.full.card .card-side-info {
	    width: 75%;
	}

	.content .card .form input.input {
		/*margin-bottom: 13px;*/
		margin-bottom: 33px;
	}

	/*.full.card .card-side-image::before {
		content: '';
		position: absolute;
		background-image: url(../assets/images/registration-image.JPG);
	    background-position: 150%;
		-webkit-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}*/

	.registration .form-button{
		display: flex;
		align-items: center;
	}

	.p10 {
	    padding: 5px 10px;
	}

	.modal-card-content {
	    width: 80%;
	    /*width: 40%;*/
	}

	.menu > .menu-content {
		width: 340px;
		padding: 20px 30px; 
	}

	.sub-header {
	    margin-bottom: 50px;
	}

	.sub-header-container p {
		text-align: left;
	}

	.profile-block {
		width: 60%;
		padding: 20px 50px 50px 50px;
	}

	.textfield.input-3,	.textfield.input-2 {
		margin-bottom: 2em;
	}

	button.uppercase.btn-update,
	button.uppercase.btn-add {
		width: auto;
	}

	.search-box {
		width: 60%;
	}

	.main .user-contact {
	    width: 75%;
	     /*width: 200px; */
	}

	.full-modal button.uppercase.btn-add {
		width: 100%;
		margin-bottom: 10px;
	}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.content .card, #d-wrapper .zig-zag-bottom {
		width: 60%;
	}

	.content .full.card {
		width: 90%;
	}

	.login .btn-blue { 
		width: 55%;
	}

	.login .btn-green {
		background-color: #a1ce61;
		width: 38%;
	}

	.card-side-image {
		width: 25%;
	}

	.content .full.card .form input.input-2,
	.form input.input-2, .registration .textfield.input-2 {
	    width: 48.80% !important;
	    /*width: 100% !important;*/
	}

	.content .card .form input.input:not(.grid) {
	    width: 100%;
	}

	.full.card .target-content{
		min-height: 700px;
	}

	.text-header {
	    margin-bottom: 50px;
	}

	.modal-card-content {
	    width: 50%;
	}

	.content .card .form input.input, .row-input, .registration .textfield.input-2, .registration .textfield.input-3  {
		margin-bottom: 13px;
	}

	.update-profile .profile-block .textfield.input {
		margin-bottom: 25px;
	}

	.profile-update .row-input {
		margin: 0;
	}

	body:not(.update-profile, .send-money) .nav-bar {
	     margin-bottom: 50px; 
	}

	.col.col-3.user-profile-picture > img, .col.col-3.user-profile-picture {
	    width: 60px;
	    height: 60px; 
	}

	.main .col.col-3.user-profile-picture > img, .main .col.col-3.user-profile-picture {
	    width: 80px;
	    height: 80px; 
	}

	.header-container {
		height: 90px;
	}

	.p10 {
		padding: 10px;
	}

	.nav-bar > div:nth-child(2){
		flex: 5;
	}

	.sub-header-container {
	    width: 70%;
	}

	.send-money-text {
		width: 70%;
	}

	.send-money-icon {
		width: 30%;
	}

	.beneficiary.send-money .user-contact{
    	width: 130px; 
	}

	.beneficiary.send-money .user-name{
		margin-bottom: 5px;
	}

	.beneficiary.send-money .payment-type {
		margin-top: 5px;
	}
	
	.send-money .user-contact{
		width: 120px;
	}

	.pay-bills .user-contact{
		width: 150px;
	}

	.notif-item img {
		width: 50px;
		height: 50px;
	}

	span.remarks {
	    top: -5px;
	    position: relative;
	}

}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	.content .card, #d-wrapper .zig-zag-bottom {
		width: 45%;
	}

	.content .full.card .form input.input-3,
	.form input.input-3, .textfield.input-3 {
	    width: 31.91%;
	}

	.textfield.input-2 {
	    width: 48.80%;
	    float: left;
	}

	.full-modal .input-2 {
	    width: 48.60% !important;
	    float: left;
	}

	.textfield.input-2 input {
		width: 100%;
	}

	.content .full.card .form input.input-3:first-child,
	.form input.input-3:first-child, .textfield.input-3:first-child, .full-modal .input-2[placeholder="iTIN"] {
		/*margin-right: 10px;*/
	}

	.content .full.card .form input.input-3:last-child,
	.form input.input-3:last-child,  .textfield.input-3:last-child {
		/*margin-left: 10px;*/
	}

	.content .full.card .form input.input-2:first-child,
	.form input.input-2:first-child, .textfield.input-2:first-child {
		/*margin-right: 5px;*/
	}

	.content .full.card .form input.input-2:last-child,
	.form input.input-2:last-child, .textfield.input-2:last-child {
		/*margin-left: 5px;*/
	}

	.full.card .target-content{
		min-height: 542.309px;
	}

	.btn-verify {
		margin-left: 20px;
	    width: 24.5%;
	}

	.input-verify {
	    width: 72.19%;
	}

	.modal-card-content {
	    width: 30%;
	} 

	.full-modal .modal-card-content {
	    /*width: 50%;*/
	    width: 40%;
	} 

	.header-container {
		height: 100px;
	}

	.col.col-3.user-profile-picture > img, .col.col-3.user-profile-picture {
	    width: 80px;
	    height: 80px; 
	}

	.send-money .user-contact,
	.pay-bills .user-contact, .beneficiary.send-money .user-contact {
	    width: 170px;
	}

	.pay-bills .col.col-3.user-profile-picture {
	    border: 1px solid #ececec;
	}

	.search-box {
		width: 33%;
	}

	.beneficiary.send-money .user-name{
		font-size: 1em;
		margin: 10px 0;
	}

	.beneficiary.send-money .payment-type {
	    margin-top: 15px;
	}

	.full-modal-flex {
		display: flex;
	}

	.full-modal .search-input {
		flex: 5;
	}

	.full-modal .btn-search {
		flex: 1;
	}

	span.remarks {
	    top: -5px;
	    position: relative;
	}

	.load-account.send-money-details {
	    width: 50%;
	}

}

/*// Large devices (1024px)*/
@media (max-width: 1024px) {
	.content .full.card .form input.input-3, .input-verify,
	.textfield.input-3{
	    width: 100%;
	}

	.content .full.card .form input.input-3:last-child,
	.textfield.input-3:last-child,
	.btn-verify, .textfield.input-3, .textfield.input-3{
		margin-left: 0;
	}

	.modal-card-content {
	    /*width: 50%;*/
	}

	.account-number span {
		font-size: 1.8em;
		letter-spacing: 5px;
	}

	


}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

	.content .card, #d-wrapper .zig-zag-bottom {
		width: 40%;
	}

	.main .row {
	    width: 70%;
	}

	.send-money .row,
	.pay-bills .row {
	    width: 70%;
	}

	.full-modal .row {
		width: 100%;
	}

	.account-number span {
		font-size: 2em;
		letter-spacing: 5px;
	}

}


@media (min-width: 1200px) and (max-width: 1262px) { 
	.beneficiary.send-money .user-contact {
	    width: 140px;
	}
	
	.beneficiary.send-money .user-name {
	    margin-bottom: 5px;
	}

	.beneficiary.send-money .payment-type {
	    margin-top: 5px;
	}
}
