.SumoSelect .select-all {
    height: auto !important;
}

.SumoSelect>.optWrapper {
	/*width: 195px;*/
	width: 100%;
}

.SumoSelect {
    /*width: 150px;*/
    width: 100%;
    height: 40px;
}

.SlectBox {
	height: 100%;
}

p.CaptionCont.SelectBox {
    height: 39px;
    top: -1px;
    text-align: left;
}

.SumoSelect>.CaptionCont>span {
    font-style: normal;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.SumoSelect .select-all.partial>span i, 
.SumoSelect .select-all.selected>span i,
.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
	background-image: url(../assets/images/check-blue.PNG) !important;
	background-color: transparent;
}

.SumoSelect>.optWrapper>.options li.opt:hover,
.SumoSelect>.optWrapper .select-all:hover {
    background-color: #2c4594;
}

.SumoSelect>.optWrapper>.options li.opt:hover label,
.SumoSelect>.optWrapper> .select-all:hover label {
	color: #fff;
}

.SumoSelect>.optWrapper>.options li.opt,
.SumoSelect>.optWrapper> .select-all{
	border: none;
}

.SumoSelect>.optWrapper>.options li.opt {
	padding: 0.8em ;
}

.SumoSelect>.optWrapper> .select-all{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
    text-align: left;
}

.SumoSelect>.optWrapper>.options li.opt.selected:hover span i,
.SumoSelect>.optWrapper .select-all.selected:hover span i{
	background-image: url(../assets/images/check-white.png) !important;
}

.SumoSelect>.optWrapper ul.options li.opt label{
	text-align: left;
}

.SumoSelect .select-all>span i, 
.SumoSelect>.optWrapper.multiple>.options li.opt span i{
    box-shadow: none !important; 
    background-color: transparent !important; 
    border: none !important;
}



span.text-gray.mr5.text-filter {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

/* ========================== 
	. media query
=============================*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	span.text-gray.mr5.text-filter {
	    display: inline-block;
	}
	.send-money-text {
	    width: 100%;
	}
	.send-money-icon {
	    width: 100%;
	}
	.SumoSelect {
	    width: 200px;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.SumoSelect {
	    width: 150px;
	}
	.send-money-text {
	    width: 70%;
	}
	.send-money-icon {
	    width: 30%;
	}
	.SumoSelect>.optWrapper {
		width: 195px;
	}

}

/*// Large devices (1024px)*/
@media (max-width: 1024px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
}

/*// Large devices (1024px)*/
@media (max-width: 1024px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
}