* {
    box-sizing: border-box;
}


.tab-content-container p {
    line-height: 1.7em;
}

.tabcontent {
    background-color: #ffffff;
    border-left: 1px solid #eee;

}

.tab-container .tab {
    float: left;
    border-right: 1px solid #eee;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.tab-container .tab button {
    display: block;
    background-color: inherit;
    color: #414141;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    font-family: 'Rubik Medium';
    float: left;
}

.tab-container .tab button:hover {
    background-color: #f4f4f4;
}

.tab-container .tab button.disable {
    color: #acacae;
    cursor: not-allowed;
}

.tab-container .tab button.active {
    background-color: #ccc;
}

.tab-container .tabcontent {
    float: left;
    padding: 10px 30px;
    width: 100%;
    border-left: none;
    height: auto;
    display: none;
    overflow: auto;
    background-color: #fff;
}

.tab-container .tablinks span {
    position: relative;
    top: -3px;
}

.tabcontent.open {
    display: block;
}

.tablinks sup {
    background-color: #fa9291;
    color: #fff;
    font-size: 0.7em;
    padding: 3px 9px;
    border-radius: 10px;
    margin-left: 4px;
}

@media (min-width: 576px) {


}

@media (min-width: 768px) { 

    .tab-container .tab,
    .tab-container .tabcontent {
        width: 100%;
    }

    .tab-container .tab button {
        width: 100%;
        height: auto;
    }

    .tab-container .tab {
    }

    
}

@media (min-width: 850px) {
    .tab-container .tab {
        width: 30%;
    }

    .tab-container .tabcontent {
        width: 70%;
    }



.tab-container {
    background-color: #ffffff;
}


}

@media (min-width: 992px) {
}

@media (max-width: 1024px) {
}

@media (min-width: 1200px) { 
}